#test1{
  background-color: pink;
  width: 500px;
  height: 300px;

  
}
#test2{
  background-color: rgb(178, 246, 248);
  width: 500px;
  height: 300px;
}
#container{
  display: block;
  margin: 200px;
  /* border: 2px solid black; */
  display: flex;
  justify-content:space-between;

}
